TG_BOT_TOKEN=''	    	#Your Telegram Bot API Token, Contact @BotFather on Telegram to obtain token
TG_CHATID=''			#Your Telegram chat ID, This could be your user, group, supergroup or channel ID, add "-100" first if supergroup or channel

#Optional Config
DELAY='3600'                                #Defines how often in seconds to check for IP address changes
TG_BOTAPI='https://api.telegram.org/bot'    #Change if you'd like to use another Telegram Bot API host
WHATISMYIP='https://whatismyip.shihaam.me' #Website that returns visitor IP address, (eg: https://ifconfig.me/ip/)
